extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1= project.project_name

        p= project.description
      .project-tech-links-box.box
        h6 Technologies
        ul          
          each technologies in project.technologies
              li= technologies

        a.btn-link(href=`${project.live_link}`) Live Demo
        a.btn-link(href=`${project.github_link}`) GitHub Repo      
    
    //the code below was provided by Treehouse Student Support Specialist, Brian Jensen
    //I originally had dynamically interpolated two images per project to populate, but one of my projects has 5 so this code made all images for all projects to populate.
    .project-img-box.box
       -var n = 0;
        while n < project.image_urls.length
          img.project-img(src=`${project.image_urls[n++]}`, alt=`An ${project.project_name} screenshot`)
     
    nav.nav
      a(href='/')
        span &larr;
        |  Back
